<div class="container">
  <div class="row row-cols-auto">
    <div *ngFor="let cake of cakes">
      <div class="col">
        <div class="card mb-4" style="width: 20rem;">
          <img class="card-img-top" src="../../assets/cakes/cake4.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ cake.name }}</h5>
            <table class="table">
              <tbody>
                <tr>
                  <td>{{ cake.description }}</td>
                </tr>
                <tr>
                  <td>{{ cake.price | currency: 'INR':true }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> 
    </div> 
  </div>
</div>
